<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="consumerExpApp.notification.detail.title">Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.time">Time</span></dt>
        <dd>
          <span>{{ notification.time | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.origin">Origin</span></dt>
        <dd>
          <span>{{ notification.origin }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.title">Title</span></dt>
        <dd>
          <span>{{ notification.title }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.message">Message</span></dt>
        <dd>
          <span>{{ notification.message }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.user">User</span></dt>
        <dd>
          <span>{{ notification.user }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.level">Level</span></dt>
        <dd>
          <span>{{ notification.level }}</span>
        </dd>
        <dt><span jhiTranslate="consumerExpApp.notification.acknowledged">Acknowledged</span></dt>
        <dd>
          <span>{{ notification.acknowledged }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
